<div class="calendar">
  <% last_month = nil %>
  <% @items.each do |item| %>
    <% if last_month != item.month %>
      <% last_month = item.month %>
      <% hue = (item.start_date.at_beginning_of_month.yday * 360.0 / 365.0 - 196).round %>
      <h2 style="--hue: <%= hue %>"><%= item.start_date.strftime("%B %Y") %></h2>
    <% end %>
    <% hue = (item.start_date.yday * 360.0 / 365.0 - 196).round %>
    <div class="event-card <%= ('past' if item.end_date.past?) %>" style="--hue: <%= hue %>;" >
      <p class="summary">
        <a href="<%= item.html_link %>" rel="external nofollow noreferrer noopener" title="<%= item.summary %> (View in Google Calendar)"><%= item.summary %></a>
      </p>
      <p class="date">
        <time datetime="<%= item.start_date.rfc3339 %>">
          <%= item.duration %>
        </time>
      </p>
      <% if item.description %>
      <p class="description"><%= item.description %></p>
      <% end %>
      <% if item.location %>
      <p class="location">
        <a href="https://www.google.com/maps/search/<%= URI.encode_www_form_component(item.location) %>" rel="external nofollow noreferrer noopener"><%= item.location %></a>
      </p>
      <% end %>
    </div>
  <% end %>
</div>
