<style type="text/css">
  a[rel~="external"] {
    background: url(/external.svg) center right/auto 60% no-repeat;
    padding-right: 25px;
  }
  .calendar {
    max-width: 600px;
  }
  .event-card {
    background-color: hsl(var(--hue), 60%, 85%);
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
  }
  .event-card .date {
    margin: 5px 0 0 0;
  }
  .event-card .summary {
    font-size: 150%;
    margin: 0;
  }
  .event-card .description {
    margin: 5px 0 0 0;
  }
  .event-card .location {
    margin: 5px 0 0 0;
  }
</style>

<div class="calendar">
  <% now = DateTime.now %>
  <% last_month = nil %>
  <% @items.each do |item| %>
    <% if last_month != item.month %>
      <% last_month = item.month %>
      <h2><%= item.start_date.strftime("%B %Y") %></h2>
    <% end %>
    <% hue = (item.start_date.yday * 360.0 / 365.0 - 196).round %>
    <div class="event-card <%= ('past' if item.start_date < now) %>" style="--hue: <%= hue %>;" >
      <p class="summary">
        <a href="<%= item.html_link %>" rel="external nofollow noreferrer noopener" title="<%= item.summary %> (View in Google Calendar)"><%= item.summary %></a>
      </p>
      <p class="date">
        <time datetime="<%= item.start_date.rfc3339 %>">
          <%= item.duration %>
        </time>
      </p>
      <p class="description"><%= item.description %></p>
      <p class="location"><%= item.location %></p>
    </div>
  <% end %>
</div>
