<!DOCTYPE html>
<html>
<head>
	<title>
		<%= [yield_content(:title).presence, "Queer Scouts NYC"].compact.join(" - ") %>
	</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>
		<% page_name = yield_content(:title).presence || "Queer Scouts NYC" %>
		<h1 class="title rainbow-shadow" style="--text: '<%= page_name %>';">
			<%= page_name %>
		</h1>
		<%== erb :"partials/nav", locals: { klass: "top-nav" } %>
	</header>
	<%== yield %>
	<footer>
		❤️🧡💛💚💙💖💜
		<%== erb :"partials/nav" %>
	</footer>
	<script type="text/javascript" src="/email.js" async></script>
</body>
</html>
